html {
  height: 100%;
  width: 100%;
}

body {
background-color: #BDA0FF;
  
}

.rectangle {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 87px;
  background-color: white;
  z-index: 1;
}

nav a.one {
  position: absolute;
  top: 31px;
  left: 86px;
  width: 77px;
  height: 23px;
  z-index: 2;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: black;
}

nav a.two {
  position: absolute;
  top: 31px;
  left: 257px;
  width: 80px;
  height: 23px;
  z-index: 2;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #7B00CD;
}

nav a.three {
  position: absolute;
  top: 31px;
  left: 433px;
  width: 114px;
  height: 23px;
  z-index: 2;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #7B00CD;
}

